@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(/assets/aurora.jpg);
}

.logo{
  box-shadow: rgba(0, 0, 0, 0.250) 0px 5px 20px 1px;
}


.button{
  text-decoration: none;
  height: 48px;
  font-size: 18px;
  width: 330px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  border-radius: 30px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: white;

  animation-name: btnAnimate;
  animation-duration: 1s;
  animation-fill-mode: both;
  /* Used to start button entrance animation one after another  */
  animation-delay: calc(0.3s/10);
  box-shadow: rgba(0, 0, 0, 0.250) 0px 5px 20px 1px;
}

@keyframes btnAnimate {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.special-button{
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  background-position: left center;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  transition: .6s ease;

}

.special-button:hover {
    background-size: 320%;
    background-position: right center;
}
  
